.main{
    width:100%;
    margin: 0px;
    padding:0px;

}
.header
{
    background-color: red;
    height:50px;
}
.div2{
    background-color: green;
    float:left;
    height:500px;
    width:30%;
}
.div3{
    background-color: blue;
    float:right;
    height:500px;
    width:70%;
}
.footer{
    clear: both;
}
.footer{
    background-color: yellow;
    height: 60px;
    
}